body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* elements to style fixed navigation bar */
.header{
    background-color: black;
    color: white;
    border-style: dashed black;
    width: 100%;
    height: 100px;
    display: inline-block;
    position: fixed;
    z-index: 4;
}

h1{
    padding:10px;
    display: inline-block;
}

.header nav{
    float:right;
    padding-right: 5px;
}

.header a{
    display: inline-block;
    padding: 10px;
}
/* style of introduction and picture of myself */ 
.intro{
    border: solid black;
    width: 100%;
    height: fit-content;
    padding-top: 90px;
}
.pic{
    height: 100%;
    width: 100%;
}

.intro h2{
    position: absolute;
    color: white;
    top: 300px;
    right: 16px;
    display: flex;
    z-index: 3;
    float: right;
    width: 400px;
    text-align: center;
}
.intro p{
    position: absolute;
    color: white;
    top: 350px;
    right: 16px;
    display: flex;
    float: right;
    width: 400px;
    z-index: 3;
    
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    
}
#first-pic{
    height:400px;
    width:600px;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}
/* style layout of project section  */
#projects {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 10px solid;
    border-color: black;
}
.first{
    position: relative;
}
.corner{
    position: absolute;
    top: 10px;
    left: 20px;
    color: black;
    background-color: white;
    font-size: large;
    border: solid;
}
/* hover effects */
.first:hover, 
img{
    border-radius: 30px;
    transition: all 0.3s ease-in;

}

.first:hover {
    box-shadow: inset 0px 0px 10px
    rgb(25, 52, 204), 0 0 15px
    rgb(22, 15, 53);
}

/* projects coming soon */
.pro-soon{
    position: relative;
    width: 500px;
    height: 170px;
    border: solid;
    margin:10px;
    border-radius: 30px;
    text-align: center;
    background-image: linear-gradient(
        rgb(243, 244, 247) 0%,
        rgb(88, 88, 90) 100%
    );
}
.pro-soon img{
    max-width: 100%;
    max-height: 100%;
}
.pro-soon:hover,
.pro-soon:hover a{

        box-shadow: inset 0px 0px 10px
        rgb(148, 102, 94), 0 0 15px
        rgb(216, 51, 51);
}
/* changing link colors */
nav a:link,
.pro-soon a{
    color: white;
}
nav a:visited{
    color:antiquewhite;
}
/*  */
.grey {
    background-color: rgb(66, 65, 65);
    height:auto;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    
}
/* style for about me section  */
.aboutme h2{
    padding: 50px;
    text-align: left;
    color: white;
    display: flex;
    flex: 1 0;
    font-weight: 20px;
}

.aboutme p{
    display: flex;
    flex-wrap: wrap;
}
.contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.aboutme p,
.aboutme ul {
    padding-top: 30px;
    padding-right: 30px;
    float: right;
    color: black;
    width: 700px;
    text-align: center;
    background-color:white;
    border-radius: 7px;
    margin: 10px 10px;
    display: flex;
}
ul li {
    list-style-type: none;
}
/* Contact me section with changes to text */
#contact {
    height: 200px;
    width: 100%;
    text-align: center;
}
#contact h2 {
    margin: 10px;
    padding: 10px;

}
#contact a{
    color: rgb(45, 45, 248);
}
/* view adjustments for viewpoint */
@media screen and (max-width:600px){
    
    body,
    .grey{
        width: 50%;
    }
}